{% extends "base.html" %}
{% block body %}
    <link href="../static/css/shop-homepage.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="margin-top: 20px">

                <div class="panel panel-default farsi-font" style="font-size: 18px">
                    <div class="panel-heading">سینما</div>
                    <div class="panel-body">
                        <a href="/events/">اکشن</a>
                    </div>
                    <div class="panel-body">
                        <a href="#">کمدی</a>
                    </div>
                    <div class="panel-body">
                        <a href="#">درام</a>
                    </div>
                    <div class="panel-body">
                        <a href="#">علمی تخیلی</a>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail" >
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">

                            <h4 class="farsi-font" style="text-align: center"><a href="/event/" style="max-width: inherit">ایزه بزرگ مجارستان سال ۲۰۱۵</a>
                            </h4>
                            <p style="text-align: justify">جایزه بزرگ مجارستان با داشتن زمینی با پیچ های شدید یکی از سخت ترین زمین های مسابقات فرمول۱ است</p>
                        </div>
                        <div class="ratings">

                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="price">۳۰،۰ تومان</span>
                                 <a class="pull-left btn btn-success buy">خرید</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail" >
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">

                            <h4><a href="/event/" style="max-width: inherit">مسابقات فرمول یک جایزه بزرگ مجارستان سال ۲۰۱۵</a>
                            </h4>
                            <p style="max-lines: 1">جایزه بزرگ مجارستان با داشتن زمینی با پیچ های شدید یکی از سخت ترین زمین های مسابقات فرمول۱ است</p>
                        </div>
                        <div class="ratings">

                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail" >
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">

                            <h4><a href="/event/" style="max-width: inherit">مسابقات فرمول یک جایزه بزرگ مجارستان سال ۲۰۱۵</a>
                            </h4>
                            <p style="max-lines: 1">جایزه بزرگ مجارستان با داشتن زمینی با پیچ های شدید یکی از سخت ترین زمین های مسابقات فرمول۱ است</p>
                        </div>
                        <div class="ratings">

                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail" >
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">

                            <h4><a href="/event/" style="max-width: inherit">مسابقات فرمول یک جایزه بزرگ مجارستان سال ۲۰۱۵</a>
                            </h4>
                            <p style="max-lines: 1">جایزه بزرگ مجارستان با داشتن زمینی با پیچ های شدید یکی از سخت ترین زمین های مسابقات فرمول۱ است</p>
                        </div>
                        <div class="ratings">

                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}