<!DOCTYPE html>
<html lang="en">
{% block body %}

    <title>اضافه کردن رویداد</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
			<div class="col-md-2" style="float: right;">
                <p style="text-align: right;">اضافه کردن رویداد</p>
                <div class="btn-group-vertical" style="text-align: right;">
                    <a href="/music/" class="btn btn-primary">موسیقی</a>
                    <a href="/athletic/" class="btn btn-primary">ورزشی</a>
					<a href="/cinema/" class="btn btn-primary">سینما</a>
					<a href="/theatre/" class="btn btn-primary">تآتر</a>
                </div>
            </div>
{% endblock body %}