{% extends "base.html" %}
{% block body %}
    {% load staticfiles %}
    <link href={% static "css/shop-homepage.css" %} rel="stylesheet">
    <link href={% static "css/main.css" %} rel="stylesheet">
    <style>
        body { background: #808080; }
    </style>
    <div class="container" id="wrapper">
        <section style="padding-bottom: 50%">
            <div class="row">
                <div class="col-md-3" style="margin-top: 20px">
                    <div class="panel panel-default farsi-font" style="font-size: 18px">
                        {% if type == "all" %}
                            <div class="panel-heading">دسته ها</div>
                            <div class="panel-body">
                                <a href="/events/{{ type }}/">نمایش همه</a>
                            </div>
                            {% for mytype in types %}
                                <div class="panel-body">
                                    <a href="/category/{{ mytype.name }}/">{{ mytype.name }}</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {#                        {% if type == "cinema" %}#}
                        {#                            <div class="panel-heading">سینما</div>#}
                        {#                            {% for subtype in subtypes %}#}
                        {#                                <div class="panel-body">#}
                        {#                                    <a href="/events/{{ type }}/{{ subtype.name }}/">{{ subtype.name }}</a>#}
                        {#                                </div>#}
                        {#                            {% endfor %}#}
                        {#                        {% endif %}#}
                        {##}
                        {#                        {% if type == "theater" %}#}
                        {#                            <div class="panel-heading">تئاتر</div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/comedy/">کمدی</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/drama/">درام</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/romance/">رومانس</a>#}
                        {#                            </div>#}
                        {#                        {% endif %}#}
                        {##}
                        {#                        {% if type == "sport" %}#}
                        {#                            <div class="panel-heading">ورزشی</div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/football/">فوتبال</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/volleyball/">والیبال</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/handball/">هندبال</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/basketball/">بسکتبال</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/racing/">اتومبیل رانی</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/swimming/">شنا</a>#}
                        {#                            </div>#}
                        {#                        {% endif %}#}
                        {##}
                        {#                        {% if type == "music" %}#}
                        {#                            <div class="panel-heading">موزیک</div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/rock/">راک</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/pop/">پاپ</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/metal/">متال</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/classic/">کلاسیک</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/instrumental/">بی کلام</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/folk/">سنتی</a>#}
                        {#                            </div>#}
                        {#                            <div class="panel-body">#}
                        {#                                <a href="/events/{{ type }}/country/">کانتری</a>#}
                        {#                            </div>#}
                        {#                        {% endif %}#}
                    </div>
                </div>
                <div class="col-md-9">

                    {% for event in events %}

                        <div class="col-sm-4 col-md-4">
                            <div class="thumbnail" >
                                <img src="http://placehold.it/320x150" alt="">
                                <div class="caption">

                                    <h4 class="farsi-font" style="text-align: center"><a href="/event/{{ event.id }}" style="max-width: inherit">{{ event.name }}</a>
                                    </h4>
                                    <p style="text-align: justify">{{ event.desc}}</p>
                                </div>
                                <div class="ratings">

                                    <p>
                                        {% for i in rate %}
                                            <span class="glyphicon glyphicon-star"></span>
                                        {% endfor %}
                                        {% for i in notrange %}
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        {% endfor %}
                                        <span class="price"> {{ event.price }}</span>
                                        {% if not admin %}
                                            <a href="" class="pull-left btn btn-success buy">خرید</a>
                                        {% endif %}
                                        {% if admin %}
                                            <a href="/events-delete/{{ event.id }}/" class="pull-left btn btn-danger"/>حذف</a>
                                            <a href="/edit-event/{{ event.id }}/" class="pull-left btn btn-info"/>ویرایش</a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}